In [1]:
import sys
sys.executable

'/usr/local/opt/python/bin/python3.7'

In [31]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
n_edges = {1000: [], 10000: [], 100000: []}
path_length = {1000: [], 10000: [], 100000: []}

for n in [1000, 10000, 100000]:
    f = open("slurm scripts/data/5-29-20/path_data-dim2_n"+str(n)+".out", "r")
    for line in f:
        m, l = line.split()
        #print(m)
        #print(l)
        n_edges[n].append(int(m)-1)
        path_length[n].append(float(l))
    f.close()

In [29]:
for k in n_edges.keys():
    print(np.mean(n_edges[k]))

15.42
15.36
15.44

In [30]:
len(n_edges[1000])

50

In [34]:
df = pd.DataFrame(np.array([n_edges[1000], n_edges[10000], n_edges[100000]]).T)

In [37]:
df.columns=[1000, 10000, 100000]

In [39]:
df.describe()

          1000       10000    100000
count  50.000000  50.000000  50.0000
mean   15.420000  15.360000  15.4400
std     0.835195   0.827092   0.7329
min    14.000000  14.000000  14.0000
25%    15.000000  15.000000  15.0000
50%    15.000000  15.000000  15.0000
75%    16.000000  16.000000  16.0000
max    17.000000  17.000000  17.0000